# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
venv/
env/

# PyTorch Models
*.pt
*.pth

# Dataset
data/

# VS Code
.vscode/

# Operating System Files
Thumbs.db
.DS_Store
